@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400;600;800&display=swap');

.project-background {
    background-image: url("img/star-gaze.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header {
    height: 200px;
}

h1 {
    text-align: center;
}

.card-row {
    padding-left: 0;
}

.card-col {
    padding: 0;
    margin: 1rem;
    display: flex;
    justify-content: center;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.learn-more-btn {
    background-color: rgb(46, 0, 46);
    border: none;
    padding: 10px;
    height: 50px;
    width: 125px;
    border-radius: 3px;
    outline: none;
    color: rgb(238, 218, 255);
    transition: background-color 1s;
    transition: width 1s;
}

.learn-more-btn:hover {
    background-color: rgb(70, 12, 70);
    border: none;
    padding: 10px;
    height: 50px;
    width: 135px;
    border-radius: 3px;
    outline: none;
    color: rgb(238, 218, 255);
    transition: background-color 1s;

}

.learn-more-btn:focus {
    outline: none;
}

.card-body {
    background-color: rgb(10, 2, 22);
    color: rgb(238, 218, 255);
}

.card-body-styles {
    text-align: center;
}

.modal-body {
    font-family: 'Baloo Chettan 2', cursive;
    font-size: 1.2rem;
    background-color: rgb(46, 0, 46);
    color: rgb(255, 255, 255);
}

p {
    font-family: 'Baloo Chettan 2', cursive;
}

h1 {
    font-family: 'Baloo Chettan 2', cursive;  
    font-weight: bold;
}

.heading {
    position: relative;
    animation: heading;
    animation-duration: 2s;
    animation-delay: 1s;
    opacity: 0;
    animation-fill-mode: forwards;
    padding-top: 25px;
    font-size: 4rem;
}

@keyframes heading {
    0% {opacity: 0}
    100% {opacity: 1}
}

.row-one {
    position: relative;
    animation: top-row;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes top-row {
    0% {top: -100px}
    100% {top: 0px}
}

.row-two {
    position: relative;
    animation: bottom-row;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes bottom-row {
    0% {bottom: -100px}
    100% {bottom: 0px}
}